@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2 class="mt-3">Catálogo</h2>
<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Catálogo</li>
            </ol>
        </nav>
    </div>
    <div class="col">
        <button class="btn btn-primary float-right" data-bs-toggle="modal" data-bs-target="#registrarProducto">Agregar Producto a Catálogo</button>
    </div>
</div>
<p style="color:gray;">5 productos en catálogo</p>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Nombre del producto</th>
            <th scope="col">Stock</th>
            <th scope="col">Precio (por kg)</th>
            <th scope="col" colspan="3">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Pollo</td>
            <td>5</td>
            <td>S/15.00</td>
            <td><button id="btnDetalle" class="btn" data-bs-toggle="modal" data-bs-target="#consultarProducto"><img src="https://img.icons8.com/material-rounded/24/000000/visible.png" /></button></td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/edit-property.png" /></button></td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/cancel-2.png" /></button></td>
        </tr>
        <tr>
            <td>Pavo</td>
            <td>10</td>
            <td>S/8.00</td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/visible.png" /></button></td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/edit-property.png" /></button></td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/cancel-2.png" /></button></td>
        </tr>
        <tr>
            <td>Pato</td>
            <td>4</td>
            <td>S/9.00</td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/visible.png" /></button></td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/edit-property.png" /></button></td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/cancel-2.png" /></button></td>
        </tr>
        <tr>
            <td>Churrasco</td>
            <td>7</td>
            <td>S/9.00</td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/visible.png" /></button></td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/edit-property.png" /></button></td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/cancel-2.png" /></button></td>
        </tr>
        <tr>
            <td>Biffe</td>
            <td>2</td>
            <td>S/9.00</td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/visible.png" /></button></td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/edit-property.png" /></button></td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/cancel-2.png" /></button></td>
        </tr>
    </tbody>
</table>


<div class="modal" id="registrarProducto" tabindex="-1" aria-labelledby="registrarProductoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registrarProductoLabel">Registro del producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="nombre" class="form-label">PRODUCTO:</label>
                            <input class="form-control" id="nombreConsultar" placeholder="Filete de Cerdo">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="precio" class="form-label">Precio Normal:</label>
                            <input class="form-control" id="precioConsultar" placeholder="998877665">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="categoria" class="form-label">Categoria: </label>
                            <input type="email" class="form-control" id="categoriaConsultar"
                                   placeholder="aves">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="tipoProductto" class="form-label">Tipo de Producto:</label>
                            <input class="form-control" id="tipoProductoConsultar" placeholder="filete">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-12">
                            <label for="direccion" class="form-label">Precio de Oferta</label>
                            <input class="form-control" id="precioOfertaConsultar" placeholder="S/. 34.00 " />
                        </div>
                    </div>
                    <div class="row" style="text-align:center">

                        <div class="dropzone" id="myDropzone">
                            <div class="fallback">
                                <input name="foto" type="file" id="imagenProducto" />
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Registrar Producto</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="consultarProducto" tabindex="-1" aria-labelledby="consultarProductoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="consultarUsuarioLabel">Detalle del producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="nombre" class="form-label">PRODUCTO:</label>
                            <input class="form-control" id="nombreConsultar" value="Pechuga de Pollo" placeholder="Filete de Cerdo">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="precio" class="form-label">Precio Normal:</label>
                            <input class="form-control" id="precioConsultar" value="S/. 54.00 " placeholder="998877665">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="categoria" class="form-label">Categoria: </label>
                            <input type="email" class="form-control" id="categoriaConsultar"
                                   value="Aves" placeholder="aves">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="tipoProductto" class="form-label">Tipo de Producto:</label>
                            <input class="form-control" id="tipoProductoConsultar" value="Filete" placeholder="filete">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-12">
                            <label for="direccion" class="form-label">Precio de Oferta</label>
                            <input class="form-control" id="precioOfertaConsultar" Value="S/. 34.00 " rows="3" placeholder="S/. 34.00 " />
                        </div>
                    </div>
                    <div class="row" style="text-align:center">
                        <label for="urlProducto" class="form-label">Imagen de Catalogo:</label>
                        <img src="https://www.ecestaticos.com/imagestatic/clipping/128/d1d/128d1d9fdb17f24faa91d0b5a2609b7e.jpg" style="width: 400px;
                                    height: 300px;
                                    margin-left: auto;
                                    margin-right: auto;
                                    display: block;" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/js/Loaders/dropzone.min.js")"></script>
    <script src="~/js/Catalogo/catalogo.js"></script>
}

