@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2 class="mt-3">Catálogo</h2>
<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Catálogo</li>
            </ol>
        </nav>
    </div>
    <div class="col">
        <button class="btn btn-primary float-right">Agregar Producto a Catálogo</button>
    </div>
</div>
<p style="color:gray;">5 productos en catálogo</p>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Nombre del producto</th>
            <th scope="col">Stock</th>
            <th scope="col">Precio (por kg)</th>
            <th scope="col" colspan="3">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Pollo</td>
            <td>5</td>
            <td>S/15.00</td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/visible.png" /></button></td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/edit-property.png" /></button></td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/cancel-2.png" /></button></td>
        </tr>
        <tr>
            <td>Pavo</td>
            <td>10</td>
            <td>S/8.00</td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/visible.png" /></button></td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/edit-property.png" /></button></td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/cancel-2.png" /></button></td>
        </tr>
        <tr>
            <td>Pato</td>
            <td>4</td>
            <td>S/9.00</td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/visible.png" /></button></td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/edit-property.png" /></button></td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/cancel-2.png" /></button></td>
        </tr>
        <tr>
            <td>Churrasco</td>
            <td>7</td>
            <td>S/9.00</td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/visible.png" /></button></td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/edit-property.png" /></button></td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/cancel-2.png" /></button></td>
        </tr>
        <tr>
            <td>Biffe</td>
            <td>2</td>
            <td>S/9.00</td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/visible.png" /></button></td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/edit-property.png" /></button></td>
            <td><button class="btn"><img src="https://img.icons8.com/material-rounded/24/000000/cancel-2.png" /></button></td>
        </tr>
    </tbody>
</table>
