@*

*@

@{
    ViewData["Title"] = "Tracking";
    ViewBag.Inicio = true;
    ViewBag.HomeActivate = "active";
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/Tracking/StyleSheet.css" rel="stylesheet" />
</head>
    <div class="container">
        <article class="card">
            @*<div class="form-group">
                <label for="exampleFormControlInput1">ID de seguimiento:</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>*@
            <div class="input-group">
                <div class="form-outline">
                    <input type="search" id="form1" class="form-control" />
                    <label class="form-label" for="form1">Search</label>
                </div>
                <button type="button" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <header class="card-header"> Mi Orden / Seguimiento</header>
            <div class="card-body">
                <h6>ID de la Orden: 123123123</h6>
                <article class="card">
                    <div class="card-body row">
                        <div class="col"> <strong>Entrega estimada del delivery:</strong> <br>10 julio 2021 </div>
                        <div class="col"> <strong>Shipping BY:</strong> <br> AVICOLA NANCY, | <i class="fa fa-phone"></i> +51 987654321 </div>
                        <div class="col"> <strong>Status:</strong> <br> Tomado por el courier </div>
                        <div class="col"> <strong>Tracking #:</strong> <br> 123123123</div>
                    </div>
                </article>
                <div class="track">
                    <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Orden confirmada</span> </div>
                    <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Tomado por el courier</span> </div>
                    <div class="step "> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> En camino </span> </div>
                    <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Entregado</span> </div>
                </div>
                <hr>
                <ul class="row">
                    <li class="col-md-4">
                        <figure class="itemside mb-3">
                            <div class="aside"><img src="" class="img-sm border"></div>
                            <figcaption class="info align-self-center">
                                <p class="title">Pechuga <br> 1 unidad</p> <span class="text-muted">S/. 25</span>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
                <hr> <a href="@Url.Action("Index", "Catalogo")" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Volver al Catalogo</a>
            </div>
        </article>
    </div>
