@{
    ViewData["Title"] = "Tracking";
    ViewBag.Inicio = true;
    ViewBag.HomeActivate = "active";
}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/Tracking/StyleSheet.css" rel="stylesheet" />
</head>

<div class="container">
    <article class="card">
        <header class="card-header"> Mi Orden / Seguimiento</header>
        <br />
        <form class="form-inline">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-group mb-2">
                <input type="text" readonly class="form-control-plaintext" id="codigoSeguimientoLabel" value="ID de seguimiento">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" id="codigoSeguimiento" placeholder="Ej V-000000" />
            </div>
            <a onclick="MostrarInformacion()" class="btn btn-primary mb-2">Buscar</a>
        </form>
        <hr />
        <div id="idtracking">
            <div>
            </div>
        </div>
    </article>
    <script src="~/js/Tracking/Tracking.js"></script>
</div>

