@{
    ViewData["Title"] = "Catálogo";
    ViewBag.Inicio = true;
    ViewBag.HomeActivate = "active";
}


<section id="catalog" class="menu section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Catálogo</h2>
            <p>Nuestros principales productos</p>
        </div>
    </div>
</section>